<div class="footer flex flex-col justify-center aligns-center">
    <div class="flex justify-around aligns-center py-[50px]">
        <div class="infos w-[40%] flex flex-col justify-around">
            <p class="flex gap-[8px] p-[5px]">
                <i class="fa-solid fa-location-dot text-[20px] self-center"></i>
                <span class="mb-[5px] self-center inter text-[17px] mt-[3px]">Cameroun, Douala</span>
            </p>
            <p class="flex gap-[8px] p-[5px]">
                <i class="fa-solid fa-phone text-[20px] self-center"></i>
                <span class="mb-[5px] self-center inter text-[17px] mt-[3px]">+1 555 123456</span>
            </p>
            <p class="flex gap-[8px] p-[5px]">
                <i class="fa-solid fa-envelope text-[20px] self-center"></i>
                <span class="mb-[5px] self-center inter text-[17px] mt-[3px]"><a href="">Nexus&#64;gmail.com</a></span>
            </p>
        </div>
        <div class="about w-[40%] flex flex-col justify-around gap-[20px]">
            <div class="logo flex aligns-center justify-center gap-[5px] self-start">
                <img src="../../../assets/img/networkingnexus.png" class="w-[40px]">
                <h1 class="title">Nexus</h1>
            </div>
            <p class="inter">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut maiores
                eos aliquid laudantium magni deleniti placeat ab, nesciunt sit, alias
                pariatur suscipit eum dolorum ratione facere quos id quo.
            </p>
            <div class="links flex gap-[15px] text-[25px]">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="right inter self-center mb-[5px]">
        <p>Copy right 2025. Tous droits reservés.</p>
    </div>
</div>
