<div class="register-signin">
    <app-input type="text" placeholder="Enter first name" ioclass="fa-solid fa-user-group" (valueChange)="nom = $event"/>
    <app-input type="text" placeholder="Enter last name" ioclass="fa-solid fa-user" (valueChange)="prenom = $event"/>
    <app-input type="text" placeholder="Enter email" ioclass="fa-solid fa-envelope" (valueChange)="email =$event"/>
    <app-input type="password" placeholder="Enter password" ioclass="fa-solid fa-key" (valueChange)="password = $event"/>
</div>
