*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain-home{
    overflow: hidden;
}
.home{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, rgb(0, 0, 0) 85%), url('../../../assets/img/metisserire2.jpg') ;
    /* background: url('../../../assets/img/fond11.png') ; */
    /* background-size: cover; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    max-height: 100vh;
}
.menu{
    width: 96%;
    margin: 0px auto;
}
.login{
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}
.button{
    margin: 25px 0;
    cursor: pointer;
}
.second-p,.signin{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}
@keyframes slideInfromLeft{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes expand-bg{
    0%{
        background-size: 100%;
        background-position: center;
    }
    50%{
        background-size: 110%;
        background-position: center;
    }
    100%{
        background-size: 100%;
        background-position: center;
    }
}
.anime-text{
    animation: slideInfromLeft 1.5s ease forwards;
}
.animated-bg{
    width: 100wv;
    height: 100vh;
    animation: expand-bg 10s ease-in-out infinite alternate;
}

@media (max-width: 550px){
   .home{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, rgb(0, 0, 0) 85%), url('../../../assets/img/metisse2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    
   } 
}
.raleway{
    font-family: "Raleway", serif;
}

.main{
    margin: 0px auto;
    height: auto;
}
.about, .export{
    margin: auto;
}
.playfair{
    font-family: "Playfair", sans-serif;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
}
.text-about p{
    color: rgb(48,48,48);
}
.management{
    background: url('../../../assets/img/smilephone.png'),url('../../../assets/img/fond15.png') no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-position: right center, left top ;
    background-size: contain, cover;
    padding-left: 20px;
}
.export, .about{
    margin: 30px auto;
}



