<div class="menu flex  justify-between aligns-center px-[0px] py-[10px]">
    <div class="logo flex aligns-center justify-center gap-[5px]">
        <img src="../../../assets/img/networkingnexus.png" class="w-[40px]">
        <h1 class="title">Nexus</h1>
    </div>
    <nav class="navigation self-center flex justify-center aligns-center  w-auto gap-[20px] raleway semi-bold">
        <a href="" class="text-[18px] font-semibold self-center text-[rgb(39, 38, 38)]">About</a>
        <a href="" class="text-[18px] font-semibold self-center text-[rgb(39, 38, 38)]">Testimonials</a>
        <a href="" class="text-[18px] font-semibold self-center text-[rgb(39, 38, 38)]">FAQ</a>
        <a href="" class="text-[18px] font-semibold self-center text-[rgb(39, 38, 38)]">Contact Us</a>
        <a href="" class="download text-[15px] font-semibold text-[rgb(48,97,208)]">Download</a>
    </nav>
</div>
